html,body{height:100% !important; width:100% !important; margin:0px; padding:0px;}
body {
  text-align: center;
  padding-top: 1%;
}
article {height: 100%;}
.imgAnswer {
  width: auto;
  height:100%;
}
#learnWords2-area {
  height: 100%;
  width: 100%;
  text-align: center;
}
#question {
  height: 10%;
}
#listen {
  height: 100%;
}
#optionsForAnswers {
  height: 90%;
  width: 100%;
  text-align: center;
  overflow:hidden;
}

.left {
	float:left;
  width: 47%;
  height: 100%;
	/* max-width:300px; */
	text-align: center;
  margin-right: 1%;
  margin-left: 2%;
}
.right {
	 /* float: left; */
	 overflow:hidden;
   width: 48%;
   height: 100%;
   margin-right: 2%;
   margin-left: 1%;
	 /* max-width: 300px; */
	 text-align: center;
}
.optionBtn {
  width: 100%;
  height: 100%;
  font-size: 150%;
  background-color: #FFFFFF;
}
/* displays a cross for the wrong answer
<button type="button" class="optionBtn wrong">
*/
.optionBtn.wrong {
  background:URL(../media/symbols/wrong.png);
  background-repeat: no-repeat;
  background-position: 99%;
  background-color: #FFFFFF;
  background-size: 90px;
}
/* displays a tick for the correct answer
<button type="button" class="optionBtn correct">
*/
.optionBtn.correct {
  background:URL(../media/symbols/correct.png);
  background-repeat: no-repeat;
  background-position: 99%;
  background-color: #FFFFFF;
  background-size: 90px;
}
@keyframes blink {
   50% { border-color: #33CC00; border-width: 5px;}
}
/* displays which answer is correct if wrong answer was selected
<button type="button" class="optionBtn showCorrect"> */
.optionBtn.showCorrect {
  animation: blink .5s step-end infinite alternate;
  /* border-color: #33CC00;
  border-width: 5px; */
  box-shadow: none;
  border-style: dotted;
}
.optionCell { margin-bottom: 1%; }
.optionRow {
  height: 30%;
  display: inline-block;
  text-align: left;
  width: 100%;
}
@media screen and (max-width: 400px) {
   .left {
    float: left;
    width: 100%;
    max-width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 5px;
  }
  .right {
    float:left;
    width: 100%;
    max-width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 5px;
  }
  .optionRow {
    width: 100%;
    height: 45%;
    margin-bottom: 5px;
  }
  .optionCell {
    height: 50%;
  }
  .optionBtn {
    height: 100%;
  }
}
